<div class="hero">
  <div class="frosty">
    <h1>Create Magic Lessons for Your Students</h1>
    <%= link_to 'Learn More Here', '#', class: 'btn btn-success' %>
    <br />
    <br />
  </div>  
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing VR/AR Lessons</h3>
    <br />
    <p>Choose from any number of VR/AR lessons posted from our educator's community.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Contribute too</h3>
    <br />
    <p>Recommend VR/AR lessons and help educators create state-of-art lessons around the globe.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Invite your Educator's Community to join us</h3>
    <br />
    <p>Spread the word and let's make together this app an incredible source of memorable classes.</p>
  </div>
</div>
