<div class="booyah-box col-10 offset-1"> 
  <h1>About us</h1>
  <br /><br />
  <h5>We are VR/AR enthusiastics, and mainly, passionate about education.<br /> 
    This beta version is just our first step toward adding our 2 cents in order to make our students effectively engaged and lifelong learners.<br />
    Join us! :)</h5>
    <br /><br />
</div>