 <div class="booyah-box col-10 offset-1">
    <h1>Check the Lessons Posted by our Amazing Community and Use It with your Students!</h1>
  </div>

  <div class="booyah-box col-10 offset-1">
    <% @lessons.each do |lesson| %>
        <h1><%= link_to lesson.name, lesson_path(lesson) %></h1>
        <i><%= lesson.description %></i><br />
        <p><%= lesson.where %></p><br />

        <% if lesson.user.present? %>
          <small><%= lesson.user.email %></small>
        <% end %>

      <hr />
      <hr />
      <hr />  
    <% end %>
  </div>