<div class="booyah-box col-10 offset-1"> 
  <h1>Learn More Here</h1>
  <br /><br />
  <h5>Virtual reality (VR) is a computer application that allows users to experience immersive, three dimensional visual and audio simulations.<br/>
  Both VR and AR provide students with a more dynamic and hands-on lessons where they can, rather than simply memorize something printed in a book, experience in an immersive environment, in practice, the subjects.<br />
  A trip to the Roman Empire? A scientific experiment in a laboratory? A walk through the Amazon rainforest?<br />
  These are just some of the many possibilities ... Let's make together memorable classes!<br /></h5>
  <br /><br />
</div>

